#googleMap{
    min-height: 400px;
    width: 100%;
    border-bottom-radius: 4px;
}
.maxHeight{
    height: 100%;
}
/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.navbar-form.nopad{
    padding: 0px;
}
.nopadLeft{
    padding-left: 0px;
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}
.green{
    color:limegreen;
}
.red{
    color:#ff0000;
}
.tableCenter {
    text-align: center;
}
.glyphColorDelete {
    color:#ff0000;
}
.glyphColorBlue {
    color:#0044cc;
}
 .glyphColorEdit {
     color:greenyellow;
 }
 .editGlyphSize{
     font-size: 1.25em;
     margin-left: 5px;
 }
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

input[readonly].backgroundWhite {
    background-color: #fff;

}
.form-control[readonly].backgroundWhite {
    background-color: #fff;

}

@media(min-width:768px) {
    .side-nav.customSide {
        margin-left: -225px;
    }}

.equalWidth{
    min-width:7em;
}

.error {
    padding: 15px;
    border-radius: 4px;
    color: #a94442;
}
.floatRight{
    float: right;
}
.customLabelBtnMargin{
    margin-top: 7px;
    min-width:7em ;
}

.msg {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

#login-box {
    width: 300px;
    padding: 20px;
    margin: 100px auto;
    background: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border: 1px solid #000;
}